
* {
  scrollbar-width: thin;
  scrollbar-color: var(--border) #070d12;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #070d12;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--border);
  border-radius: 20px;
  border: 3px solid #070d12;
}