:root{
    --border-radius: 25px;
    /* --border: #ff00f7; */
    --border-container: #46b9cc;
    --border-img: #46b9cc;
}
@import url("rolagem.css");

html{
    scroll-behavior: smooth;
}
body{
    background-color: #46b9cc7d;
    /* background-image: url(..//img/bkg01.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* || Card principal */
.container{
    /* background-color: #ffffffb4; */
    /* background-color: #46b9cc7d; */
    background-image: linear-gradient(#46b9cc7d, #fbfbfbaa);
    width: calc(35rem + 8vw);
    border: 2px solid var(--border-container);
    border-radius: var(--border-radius);
    overflow: hidden;
    z-index: 1;

    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: fit-content;
}
/* || Blur do background */
.body-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(4px);
    background-image: url("../img/summer-vacations.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}  

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 2px solid var(--border-img);
}
.sobre{
    text-align: center;
    max-height: 18rem;
    overflow-y: auto;
    padding-right: 1rem;
}
.sobre p{
    text-align: justify;
}
.sobre :nth-child(2){
    padding-bottom: 1rem;
}
hr{
    border: 1px solid var(--border-container);
    width: 100%;
    opacity: 20%;
}
.contatos{
    text-align: center;
    width: 100%;
}
.redes-sociais{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    max-height: 18rem;
    overflow-y: auto;
}
.redes-sociais li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 33rem;
    width: 100%;
}
.redes-sociais li a{
    flex-grow: 1;
    /* width: 28rem; */
    height: 3rem;
    display: block;
    color: #000;
    align-items: center;
    padding: .3rem;
    font-size: 1.6rem;
    border-radius: var(--border-radius);
    transition: all .5s ease-out;
}
li img{
    opacity: 80%;
}

.redes-sociais .insta{
    /* background-image: linear-gradient(#c96c01, #6c007a); */
    /* background-color: #f55308cd; */
    background-color: #46b9cc;
}
.redes-sociais .whats{
    /* background-image: linear-gradient(#1aec2fdd, #147224); */
    /* background-color: #1aec2fcd; */
    background-color: #46b9cc;
}

/* || Efeitos de botoes, links */
li a:hover{
    opacity: 0.8;
    transition: all .5s ease-out;
    transform: scale(95%);
    font-weight: bold;
}
a:link{
    color: #808080;
}
a:visited{
    color: #000;
}
/* || Footer */
.footer{
    position: fixed;
    bottom: 0;
    opacity: 30%;
    transition: all .5s ease-out;
    font-size: .5rem;
    text-align: center;
}
.footer p{
    font-size: .5rem;
}
.heart{
    color: #f00;
}
.footer:hover{
    opacity: 90%;
}